<html>
<head>
<!--
  Cusco Sky table styles
  written by Braulio Soncco http://www.buayacorp.com
-->
  <style>
      table{
          width: 70%;
          border: 1px solid #D4E0EE;
          border-collapse: collapse;
          font-family: "Trebuchet MS", Arial, sans-serif;
          color: #555;
      }
      th, td {
          width: 10%;
          border: 1px solid #D4E0EE;
          border-collapse: collapse;
          font-family: "Trebuchet MS", Arial, sans-serif;
          color: #555;
      }

      caption {
          font-size: 150%;
          font-weight: bold;
          margin: 5px;
      }

      td, th {
          padding: 4px;
      }

      thead th {
          text-align: center;
          background: #E6EDF5;
          color: #4F76A3;
          font-size: 100% !important;
      }

      tbody th {
          font-weight: bold;
      }

      tbody tr { background: #FCFDFE; }

      tbody tr.odd { background: #F7F9FC; }

      table a:link {
          color: #718ABE;
          text-decoration: none;
      }

      table a:visited {
          color: #718ABE;
          text-decoration: none;
      }

      table a:hover {
          color: #718ABE;
          text-decoration: underline !important;
      }

      tfoot th, tfoot td {
          font-size: 85%;
      }
      .center {
          align-content: center;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
      }
      .active{
          background-color: palegreen;
      }
      .inactive{
          background-color: lightgray;
      }
  </style>

</head>

<body>
<a href="/mockInitialize">
  <p>Initialize Mock Data</p>
</a>
<a href="/initialize">
  <p>Initialize empty state</p>
</a>

<% start_date = (params[:start_date] || Date.today).to_date %>
<% date_range = (start_date.beginning_of_week..start_date.end_of_week).to_a %>
<% hour_range = (start_date.beginning_of_day.to_i..start_date.end_of_day.to_i).step(30.minutes) %>

<div class="center">
  <p>수강권을 선택해주세요</p>
  <button type="button"> <%= link_to "20분", "#"%></button>
  <button type="button"> <%= link_to "40분", "#"%></button>
</div>
<hr>
<table class="center">
  <thead>
  <tr>
    <td colspan="8" class="center">
      <%=link_to "Previous", start_date: date_range.first - 1.week%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= start_date.year %>, <%= I18n.t("date.month_names")[start_date.month] %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "Next", start_date: date_range.first + 1.week %>
    </td>
  </tr>
  <tr>
    <th>Hour</th>
    <% date_range.slice(0, 7).each do |day| %>
      <th><%= I18n.t("date.abbr_day_names")[day.wday] %> <%= day.strftime('%m/%d') %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% hour_range.each do |hour| %>
    <tr>
      <th><%= Time.at(hour).localtime.strftime('%H:%M') %></th>
      <% date_range.each do |day| %>
        <td>
          <input type="checkbox" name="yoyoyoyo" value="yoyo">
          <% @schedules.select{ |s| s.start_date.strftime('%H:%M') == Time.at(hour).localtime.strftime('%H:%M') && day == s.start_date.to_date }.each do |schedule| %>
            <div><%= schedule.text %></div>
          <% end %>
        </td>
      <% end %>
    </tr>

  <% end %>
  </tr>


<!--    <td class="active">-->
<!--      <input type="checkbox" name="yoyoyoyo" value="yoyo">-->
<!--      SNU, Jin Choi, Ruby Basics-->
<!--    </td>-->
<!--    <td class="inactive">-->
<!--      <input type="checkbox" name="yoyoyoyo" value="yoyo">-->
<!--      SNU, Cool Kim, Marketing Basics-->
<!--    </td>-->

  </tbody>
  <tfoot>
  <tr>
    <td colspan="8" class="center">Enjoy Ringle!</td>
  </tr>
  </tfoot>
</table>
</body>
</html>